{% extends "base.html" %}

{% block title %} {{single_item.name}}{% endblock title %}

{% block body %}

<div class="container mt-2">
    <h2 class="mb-3 text-center fs-1"><strong>Product</strong></h2>

    <div class="row mb-4 m-2 p-4 rounded-xl">
        <div class="col-md-6 d-flex justify-content-center p-3">
            <img src="{{ single_item.image.url }}" alt="image" class="img-fluid rounded-xl" style="max-height: 400px; object-fit: cover;">
        </div>
        <div class="col-md-6 p-4 bg-light rounded-xl">
            <h1 class="mb-4 text-center fs-1"><strong>{{ single_item.name }}</strong></h1>
            <p class="fs-4 text-dark"><strong>Price: </strong> {{ single_item.price }}</p>
            <p class="fs-4"><strong>Seller: </strong> {{ single_item.created_by }}</p>
            <p class="fs-4"><strong>Quantity: </strong> {{ single_item.quantity }}</p>

            {% if single_item.description %}
                <p class="fs-4"><strong>Description: </strong><br> {{ single_item.description }}</p>
            {% endif %}

            <a href="#" class="btn btn-teal mt-4 w-100">Contact Seller</a>
        </div>
    </div>
<hr>
    <!-- Related Items section -->
    <div class="mt-6">
        <h2 class="mb-3 text-center fs-1"><strong>Related Items</strong></h2>

    
        <div class="row">
            {% for item in related_items %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'item_details' item.id %}" class="card shadow-sm" style="height: 400px;">
                    <!-- Update the object-fit to 'contain' to see the entire image -->
                    <img src="{{ item.image.url }}" alt="image" class="card-img-top" style="height: 60%; object-fit: contain;">
                    <div class="card-body" style="flex-grow: 1;">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <!-- Reviews section -->
    <div class="mt-6">
        <h2 class="mb-3 text-center fs-1"><strong>Customer Reviews</strong></h2>

        <!-- Placeholder for reviews, you can dynamically generate reviews here -->
        <div class="card">
            <div class="card-body">
                <p><strong>Review by User:</strong> Excellent product! Highly recommended.</p>
            </div>
        </div>
    </div>

</div>

{% endblock body %}
